<% releases = ['14.5','14.4','14.3'] %>
<% releases.each do |release| %>
#### <%= "From #{release}" %>
<%= '' %>
   <% datafile = release_post_items(release) %>
   <% primary = datafile.features.primary.select{|h| h.stage == 'package'} %>
   <% secondary = datafile.features.secondary.select{|h| h.stage == 'package'} %>
   <% primary.each do |h| %>
<%= "* [#{h.name}](#{h.documentation_link})" %>
   <% end %>
   <% secondary.each do |h| %>
<%= "* [#{h.name}](#{h.documentation_link})" %>
   <% end %>
   <%= "" %>
<% end %>
